---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPostCard from '@/components/blog/BlogPostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<BaseLayout SITE_TITLE="へるぶろぐ" SITE_DESCRIPTION="へるくんのブログ">
	<h1 class="font-bold text-4xl mb-4">へるぶろぐ</h1>
	<p class="mb-4">全ての記事一覧です</p>
    <section>
		<ul class="flex flex-wrap m-0 p-0 gap-8 list-none mdmax:gap-2">
			{posts.map((post) => <BlogPostCard post={post}/>)}
		</ul>
	</section>
</BaseLayout>