---
import MediproLayout from "@/layouts/MediproLayout.astro"
---
<MediproLayout SITE_TITLE="実験棟出口" SITE_DESCRIPTION="大学のメディア情報学プログラミング演習のグループプログラミングで制作したゲームです" SITE_IMAGE="https://helkun.dev/image/medipro/gameImage.png">
    <header class="fixed w-full">
        <div class="bg-black text-white py-4 shadow-lg shadow-zinc-600">
            <nav class="container mx-auto px-6 py-2 flex flex-wrap items-center justify-between">
                <h1 class="sm:text-4xl text-2xl font-bold order-first ">実験棟出口</h1>
                <div class="order-last items-center flex sm:text-2xl text-xl">
                    <a class="inline-block m-0 mr-6 hover:bg-gray-800 px-2 rounded-lg" href="https://github.com/eva828Dev/MediPro">Github</a>
                    <a class="inline-block m-0 hover:bg-gray-800 px-2 rounded-lg" href="https://eva828dev.github.io/MediPro/javadoc/">Javadoc</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="mt-24">
        <div class="text-center">
            <img class="block w-full mx-auto my-0 rounded-xl" src="https://helkun.dev/image/medipro/gameImage.png" alt="heroImage"/>
            <h1 class="font-bold text-6xl smax:text-4xl text-center mb-4">実験棟出口</h1>
            <img class="block w-full mx-auto my-4 rounded-xl" src="https://helkun.dev/image/medipro/gameInfo.png" alt="Infomation"/>
            <a class="button text-3xl my-2 smax:text-2xl shadow-md shadow-indigo-400 dark:shadow-indigo-700" href="#" download>Windows / MacOS / Linux</a>
            <h2 class="smax:text-2xl">Download latest release (beta 1)</h2>
            <h2>Requirements：Java 15</h2>
        </div>
        <div class="box">
            <h2>これは何？</h2>
            <p>大学のメディア情報学プログラミング演習のグループプログラミングで制作したゲームです。</p>
        </div>
        <div class="box">
            <h2>Q&A</h2>
            <section class="m-4">
                <h3>操作方法は？</h3>
                <p>
                    <!-- <a class="underline text-blue-500 dark:text-blue-400" href="#" download>このPDF</a>をダンロードしてください。 -->
                    頑張って操作方法pdf作ります...ひいひい...
                </p>
            </section>
            <section class="m-4">
                <h3>バグ見つけました！</h3>
                <p>Githubのissueに投げておいてください。メンバーの誰かが気が向いたら直すと思います。</p>
            </section>
            <section class="m-4">
                <h3>こんな要素欲しい！</h3>
                <p>Githubのissueに投げておいてください。メンバーの誰かが気が向いたら実装すると思います。</p>
            </section>
        </div>
        <div class="box">
            <h2>クレジット</h2>
            <section class="m-4">
                <h3>プログラマー</h3>
                <p class="mx-4">D棟爆破財団：eva(リードプログラマー), kyo, hel</p>
            </section>
            <section class="m-4">
                <h3>ビジュアルアート</h3>
                <p class="mx-4">eva, kyo</p>
            </section>
            <section class="m-4">
                <h3>サウンドクリエイター</h3>
                <p class="mx-4">hel(がやる予定です...時間ないよ(泣))</p>
            </section>
            <section class="m-4">
                <h3>ウェブデザイナー</h3>
                <p class="mx-4">hel</p>
            </section>
            <section class="m-4">
                <h3>スペシャルサンクス</h3>
                <p class="mx-4">
                    電気通信大学：今回の授業でJavaの書き方を教えてくれました<br/>
                    名無しの電子部品：同じ授業を履修して別グループでゲームを作ってました。<br/>
                </p>
            </section>
        </div>
    </main>
    <footer class="text-center mt-4 p-4 bg-zinc-300 dark:bg-zinc-500">
        <p>&copy; 2024 D棟爆破財団. All rights reserved.</p>
    </footer>
</MediproLayout>