---
import BaseLayout from '@/layouts/BaseLayout.astro';
import YoutubePlayer from '@/components/ui/YoutubePlayer.astro';
import fetch from 'node-fetch';
import type { YoutubeApiResponse } from '@/api/YoutubeApiType';

const API_KEY = import.meta.env.API_KEY;
const CHANNEL_ID = import.meta.env.CHANNEL_ID;

const response = await fetch(`https://www.googleapis.com/youtube/v3/search?key=${API_KEY}&channelId=${CHANNEL_ID}&part=snippet,id&order=date&maxResults=6`);
const data = (await response.json() as any) as YoutubeApiResponse;
const videos = data.items.map(item => {
    return {
        videoId: item.id.videoId,
    };
});
---
<BaseLayout>
    <h1 class="font-bold text-4xl mb-4">Music</h1>
    <p>へるくんの制作した音楽です。</p>

    <div class="box">
        <h2>最新情報</h2>
        <h1>第二十二回博麗神社春季例大祭に出ます！！</h1>
        <p>
            2025年5月5日(月)に開催される第二十二回博麗神社春季例大祭にサークル「百鬼夜響＆瑞音鏡」として出展します！
            <br/>
            そこで、「現想風土紀 ～ Mixture of Nature and Daydream」という東方風自作曲+アレンジCDを頒布します！
            <br/>
            今回は、<a>ふりずみさん</a>との合同CDとなっています！ぜひお手に取ってください！お品書きは後日公開予定です！
        </p>
        <!-- <figure class="my-2">
            <img class="m-auto w-full max-w-md rounded-xl justify-center" src="https://helkun.dev/image/music/reitaisai21.jpeg" alt="お品書き" />
            <figcaption class="text-center m-auto">お品書き</figcaption>
        </figure> -->

        <p class="text-center m-auto">↓↓XFDはこの下↓↓</p>
        <YoutubePlayer videoId="M2NCkUWa8eo" />
    </div>

    <!-- <div class="box">
        <h2>CD</h2>
        <p>これまでに出したCDや参加したコンピCDです。</p>

    </div> -->

    <div class="box">
        <h2>YouTube</h2>
        <p>YouTubeにあげた最新6つの動画です。(サイトのビルド時にYouTube Data API v3を使って自動取得しているのでバグってたらすいません)</p>
        <section>
        {videos.map(video => (
            <YoutubePlayer videoId={video.videoId} />
        ))}
        </section>
    </div>
</BaseLayout>