---
import Twitter from "../svg/Twitter.astro";
import Github from "../svg/Github.astro";
const today = new Date();
---
<footer class="bg-gray-200 dark:bg-gray-700 text-footergray dark:text-footergray-dark text-center py-4 px-2">
	&copy; 2023-{today.getFullYear()} Hel. All rights reserved.
	<div class="flex justify-center mt-2 gap-2">
		<a class="no-underline hover:text-footerhovergray dark:hover:text-footerhovergray-dark" href="https://twitter.com/hel_kun" target="_blank">
			<span class="sr-only">Follow Twitter</span>
			<Twitter/>
		</a>
		<a class="no-underline hover:text-footerhovergray dark:hover:text-footerhovergray-dark" href="https://github.com/hel-kun" target="_blank">
			<span class="sr-only">Go to GitHub</span>
			<Github/>
		</a>
	</div>
</footer>