---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout SITE_TITLE = "へる破壊財団" SITE_DESCRIPTION="へるくんの個人サイト">
	<h1 class="font-bold text-4xl">へるくん</h1>
	<p>ｋのサイトは現在工事中です。</p>
</BaseLayout>