---
import BaseLayout from '@/layouts/BaseLayout.astro';
import LinkCard from '@/components/links/LinkCard.astro';
import LinksData from '@/pages/links/linksData.json';

LinksData.sort(
    (a, b) => {
        if(b.siteName > a.siteName){
            return -1;
        }else{
            return 1;
        }
    }
); 
---
<BaseLayout SITE_TITLE = "相互リンク - へる破壊財団" SITE_DESCRIPTION="へるくんの個人サイト">
    <h1 class="font-bold text-4xl mb-4">相互リンク</h1>
    <p><strike>オタク</strike> 知り合い各位のWebサイトです。悲しいことに、片想いリンクもあります。(大学の知り合いのリンクはサイト名でソートをかけてます)</p>

    <h2 class="border-b-4 border-b-yellow-400 inline-block my-1">音楽関連</h2>
    <div class="flex flex-wrap items-stretch">
        <LinkCard siteUrl="https://msb-net.com/" siteName="東方風ラボ" twitterUrl="https://twitter.com/maceknight" name="めいす" description="東方風に関する情報いっぱい" />
        <LinkCard siteUrl="https://www.alicemagic.jp/" siteName="夢想夏月郷" twitterUrl="https://twitter.com/mazyu_aratame" name="翡翠" description="翡翠さんのサークルHP" />
    </div>

    <h2 class="border-b-4 border-b-yellow-400 inline-block my-1">大学の知り合い</h2>
    <div class="flex flex-wrap items-stretch">
        {LinksData.map((data) => <LinkCard siteUrl={data.siteUrl} siteName={data.siteName} twitterUrl={"https://twitter.com/" + data.twitterUrl} name={data.name} description={data.description} />)}
    </div>
</BaseLayout>