---
import BaseHead from '@/components/BaseHead.astro';

const { SITE_TITLE, SITE_DESCRIPTION, SITE_IMAGE } = Astro.props;
---

<html lang="ja" prefix="og: https://ogp.me/ns#">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={SITE_IMAGE} />
	</head>
	<body class="bg-zinc-200 dark:bg-zinc-800">
        <slot/>
	</body>
</html>