---
import Player from '@/components/react/player';
interface Props {
    videoId: string
}
const {videoId} = Astro.props;

const url=`https://www.youtube.com/embed/${videoId}`;
---

<div class="w-full max-w-[560px] h-full mx-auto my-4 rounded-lg border-solid border-2 border-slate-800 dark:border-slate-200 aspect-video overflow-hidden">
    <Player client:only="react" {url} />
</div> 